{
  "extends": [
    "vstg",
    "vstg/testing"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "consistent-return": "off",
    "global-require": "off",
    "camelcase": "off",
    "no-console": "off"
  },
  "globals": {
    "angular": true,
    "alert": true,
    "moment": true
  }
}
