<nav-dir></nav-dir>
<h2>{{today}}</h2>
<h3>{{shiftId}}</h3>

<div>
  <div>
    Trip# {{tripCounter}}
  </div>
  <form ng-submit="addTrip(trip)">
    <div>
      <div>
        <label for="tipAmt">Tip Amount $</label>
        <input id="tipAmt" type="number" min="0.00" step="0.01" ng-model="trip.tipAmount" required/>
      </div>
      <div>
        <label for="credit">Credit Card Tip</label>
        <input id="credit" class="tipType" type="radio" name="tipType" ng-model="trip.tipType" value="credit" required>
      </div>
      <div>
        <label for="cash">Cash Tip</label>
        <input id="cash" class="tipType" type="radio" name="tipType" ng-model="trip.tipType" value="cash" required>
      </div>
      <div>
        <label for="free">Free Trip</label>
        <input id="free" class="tipType" type="radio" name="tipType" ng-model="trip.tipType" value="free" required>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>